@if (string.IsNullOrEmpty(User.Identity.Name))
{
    <div class="service-collapse-content">
        <div class="user-collapse-content">
            <span class="user-collapse-content-login" id="userinfo"><a href="/Home/Login">登录</a></span>
            <span class="user-collapse-content-login" id="logout"><a href="/Home/Reg">注册</a></span>
        </div>
    </div>
}
else
{
    <div class="service-collapse-content">
        <div class="user-collapse-content">
            <span class="user-collapse-content-login" id="userinfo"><a href="/Personal/Info">个人中心</a></span>
            <span class="user-collapse-content-login" id="logout"><a href="/Home/Logout">退出登录</a></span>
        </div>
    </div>
    <input type="hidden" id="tokenid" value="@User.Identity.Name">
}

