
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>A</title>
</head>
<body>
    <div> 

        <form action="/Test/B" method="post">
            <input type="text" name="Account" value="" />
            <button>submit</button>
        </form>

       

    </div>
</body>
</html>
