<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="BoardNameCN">中文栏目名</label>
        <div class="controls">
            <input type="text" id="BoardNameCN" placeholder="此处填写中文栏目名..." value="" autocomplete="off">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="BoardNameEN">英文栏目名</label>
        <div class="controls">
            <input type="text" id="BoardNameEN" placeholder="此处填写英文..." value="" autocomplete="off">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Power">设置显示权重</label>
        <div class="controls">
            <select id="Power">
                <option value="1">优先</option>
                <option value="2">靠前</option>
                <option value="3" selected>正常</option>
                <option value="4">延后</option>
                <option value="5">末尾</option>
            </select>
        </div>
    </div>
</form>


